
<div class="container" *ngIf="isShowError">
    <div class="card">
      <div class="r_div">
        <div class="logo">
          <img src="https://www.myndsolution.com/images/logo.png">
        </div>
        <p><b>404.</b> <ins>That’s an error.</ins>
        </p><p>The requested URL <code></code> was not found on this server.
      </p>
      <p>Or</p>
      <p>Unauthorized</p>
      </div>
      <div class="robot">
        <img src="https://www.google.com/images/errors/robot.png">
      </div>
  
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>



