.card {
    height: 20rem;
    width: 45rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius:12cap;
    }
    .robot{
        margin-top: 3rem; 
        float: right;
    }
    .r_div{
        float: left; height: 20rem;width: 30rem; text-align: center;
    }
    .container{
        height: 100vh; justify-content: center; display:flex;align-items: center;
    }
    .logo{
        margin-top: 5rem;
    }